body{
    background-color: #c1c1c1;
    box-sizing: border-box;
}
.skills {
    box-shadow: -3px -3px 7px white,
    3px 3px 5px black
}
.home{
    background-color: #c1c1c1;
    box-shadow: -3px -3px 7px white,
    3px 3px 5px black
}
.nav{
    background-color: #c1c1c1;
    box-shadow: -2px -2px 7px white,
    2px 2px 5px black
}
.skill-header{
    width: 400px;
}
.skill-container{
    width: 400px;
    min-height: 200px;
    background-color: #c1c1c1;
    box-shadow: inset -2px -2px 7px white,
    inset 2px 2px 5px black;
}
.contact{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #c1c1c1;
    box-shadow: -2px -2px 7px white,
    2px 2px 5px black;
}
.contact-icons{
    background-color: #c1c1c1;
    box-shadow: inset -2px -2px 7px white,
    inset 2px 2px 5px black;
}
a{
    transition: .5s;
}
